<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    -->

    <!--
    <servlet>
        <servlet-name>SecurityKey</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SecurityKey</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecurityKey</servlet-name>
        <url-pattern>/securitykey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCSAs</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCSAs</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCSAs</servlet-name>
        <url-pattern>/getcsa</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.EditUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lock</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.LockUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Lock</servlet-name>
        <url-pattern>/lock</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScanLoggedinSession</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.ScanLoggedinSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScanLoggedinSession</servlet-name>
        <url-pattern>/scanloggedinsession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUsernames</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetUsernames</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUsernames</servlet-name>
        <url-pattern>/getusername</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AddUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.ActivateUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/activateuser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddCustomerPerson</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AddCustomerPerson</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddCustomerPerson</servlet-name>
        <url-pattern>/addcustomerperson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomerPerson</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCustomerPerson</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomerPerson</servlet-name>
        <url-pattern>/getcustomerperson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmMomentarySessions</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.ConfirmMomentarySessions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmMomentarySessions</servlet-name>
        <url-pattern>/confirmmomentarysessions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCustomerCompany</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AddCustomerCompany</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCustomerCompany</servlet-name>
        <url-pattern>/addcustomercompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomerCompany</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCustomerCompany</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomerCompany</servlet-name>
        <url-pattern>/getcustomercompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCsaByParams</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCsaByParams</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCsaByParams</servlet-name>
        <url-pattern>/getcsabyparams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomerCompanyByParams</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCustomerCompanyByParams</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomerCompanyByParams</servlet-name>
        <url-pattern>/getcustomercompanybyparams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetIndiviualCustomerByParams</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetIndividualCustomerByParams</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetIndiviualCustomerByParams</servlet-name>
        <url-pattern>/getindividual</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCity</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCity</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCity</servlet-name>
        <url-pattern>/getcities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCountry</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCountry</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCountry</servlet-name>
        <url-pattern>/getcountries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomerPhoto</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.GetCustomerPhoto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomerPhoto</servlet-name>
        <url-pattern>/getcustomerphoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetIndustry</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetIndustry</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetIndustry</servlet-name>
        <url-pattern>/getindustries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddContacts</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AddContacts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddContacts</servlet-name>
        <url-pattern>/addcontacts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProvinces</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetProvinces</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetProvinces</servlet-name>
        <url-pattern>/getprovinces</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPlantAssociated</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetPlantAssociated</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPlantAssociated</servlet-name>
        <url-pattern>/getplantassociated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetContacts</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetContacts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetContacts</servlet-name>
        <url-pattern>/getcontacts</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetContactsByParams</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetContactsByParams</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetContactsByParams</servlet-name>
        <url-pattern>/getcontactsbyparams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetContactsPhoto</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.GetContactsPhoto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetContactsPhoto</servlet-name>
        <url-pattern>/getcontactsphoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetContactsSignature</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.GetContactsSignature</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetContactsSignature</servlet-name>
        <url-pattern>/getcontactsignature</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCustomerSignature</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.GetCustomerSignature</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCustomerSignature</servlet-name>
        <url-pattern>/getcustomersignature</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferCustomer</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.TransferCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransferCustomer</servlet-name>
        <url-pattern>/transfercustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferCompany</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.TransferCompany</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransferCompany</servlet-name>
        <url-pattern>/transfercompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferContacts</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.TransferContacts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransferContacts</servlet-name>
        <url-pattern>/transfercontact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteContact</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.DeleteContact</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteContact</servlet-name>
        <url-pattern>/deletecontact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.DeleteCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/deletecustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateContact</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.UpdateContact</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateContact</servlet-name>
        <url-pattern>/updatecontact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.UpdateCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/updatecustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.UpdateCompany</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/updatecompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorizeTransfer</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AuthorizeTransfer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthorizeTransfer</servlet-name>
        <url-pattern>/authorizetransfer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchCompanyFromAdmin</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SearchCompanyFromAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchCompanyFromAdmin</servlet-name>
        <url-pattern>/searchcompanyfromadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchCustomerFromAdmin</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SearchCustomerFromAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchCustomerFromAdmin</servlet-name>
        <url-pattern>/searchcustomerfromadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchContactFromAdmin</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SearchContactFromAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchContactFromAdmin</servlet-name>
        <url-pattern>/searchcontactfromadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetZipcodeByCityid</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetZipcodeByCityid</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetZipcodeByCityid</servlet-name>
        <url-pattern>/getzipcode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchContactFromUser</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SearchContactFromUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchContactFromUser</servlet-name>
        <url-pattern>/searchcontactfromuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchCustomerFromUser</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.SearchCustomerFromUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchCustomerFromUser</servlet-name>
        <url-pattern>/searchcustomerfromuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMonths</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetMonths</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetMonths</servlet-name>
        <url-pattern>/getmonths</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAreaCode</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetAreaCode</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAreaCode</servlet-name>
        <url-pattern>/getareacode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCountryCode</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetCountryCode</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCountryCode</servlet-name>
        <url-pattern>/getcountrycode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSalesman</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.AddSalesman</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddSalesman</servlet-name>
        <url-pattern>/addsalesman</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAdministrator</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.CreateAdministrator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAdministrator</servlet-name>
        <url-pattern>/createadministrator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeAdminPassword</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.ChangeAdminPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeAdminPassword</servlet-name>
        <url-pattern>/changeadminpass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAdministrators</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetAdministrators</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAdministrators</servlet-name>
        <url-pattern>/getadministrators</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAdministratorByParams</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetAdministratorByParams</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAdministratorByParams</servlet-name>
        <url-pattern>/getadministratorbyparams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUsernameFromCRM</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetUsernameFromCRM</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUsernameFromCRM</servlet-name>
        <url-pattern>/getusernamefromcrm</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>GetLocationAndroid</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetLocationAndroid</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetLocationAndroid</servlet-name>
        <url-pattern>/getlocationandroid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckSessionExpiry</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.CheckSessionExpiry</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckSessionExpiry</servlet-name>
        <url-pattern>/checksessionexpiry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllCustomers</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetAllCustomers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllCustomers</servlet-name>
        <url-pattern>/getallcustomers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitialJobOrder</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.InitialJobOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitialJobOrder</servlet-name>
        <url-pattern>/initialjoborder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetInitialJoborderPhoto</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetInitialJoborderPhoto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetInitialJoborderPhoto</servlet-name>
        <url-pattern>/getinitialjoborderphoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetWorkOrderQCList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetWorkOrderQCList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetWorkOrderQCList</servlet-name>
        <url-pattern>/getworkorderqclist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMCSAJOImage</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetMCSAJOImage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetMCSAJOImage</servlet-name>
        <url-pattern>/getmcsajoimage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApproveMcsaDateCommit</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.ApproveMcsaDateCommit</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApproveMcsaDateCommit</servlet-name>
        <url-pattern>/approvemcsadatecommit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApproveMcsaQC</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.ApproveMcsaQC</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApproveMcsaQC</servlet-name>
        <url-pattern>/approvemcsaqc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetQualityCheckList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetQualityCheckList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetQualityCheckList</servlet-name>
        <url-pattern>/getqclist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDateCommitList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetDateCommitList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDateCommitList</servlet-name>
        <url-pattern>/getdclist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetInitialJoborderList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetInitialJoborderList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetInitialJoborderList</servlet-name>
        <url-pattern>/getinitialjoborderlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetInitialJoborder</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetInitialJoborder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetInitialJoborder</servlet-name>
        <url-pattern>/getinitialjoborder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetMcsaCustomerList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetMcsaCustomerList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetMcsaCustomerList</servlet-name>
        <url-pattern>/getmcsacustomerlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchInitialJobOrder</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.SearchInitialJobOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchInitialJobOrder</servlet-name>
        <url-pattern>/searchinitialjoborder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetMcsaEngineModelList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetMcsaEngineModelList</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetMcsaEngineModelList</servlet-name>
        <url-pattern>/getmcsaenginemodellist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllInitialJoborderList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetAllInitialJoborderList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllInitialJoborderList</servlet-name>
        <url-pattern>/getallinitialjoborderlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetInitialJoborderSignature</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetInitialJoborderSignature</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetInitialJoborderSignature</servlet-name>
        <url-pattern>/getinitialjobordersignature</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckExistingJONumber</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.CheckExistingJONumber</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckExistingJONumber</servlet-name>
        <url-pattern>/checkexistingjonumber</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateInitialJoborder</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.UpdateInitialJoborder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateInitialJoborder</servlet-name>
        <url-pattern>/updateinitialjoborder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateInitialJoborderWithoutPhoto</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.UpdateInitialJoborderWithoutPhoto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateInitialJoborderWithoutPhoto</servlet-name>
        <url-pattern>/updateinitialjoborderwithoutphoto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetCsaJoList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetCsaJoList</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetCsaJoList</servlet-name>
        <url-pattern>/getcsajolist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetJoWoStatusList</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.GetJoWoStatusList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetJoWoStatusList</servlet-name>
        <url-pattern>/getjowostatuslist</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetErrorLogs</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.getJsonData.GetErrorLogs</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetErrorLogs</servlet-name>
        <url-pattern>/geterrorlogs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteInitialJoborder</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.DeleteInitialJoborder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteInitialJoborder</servlet-name>
        <url-pattern>/deleteinitialjoborder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckMcsaAndroidAdminPassword</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.CheckMcsaAndroidAdminPassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckMcsaAndroidAdminPassword</servlet-name>
        <url-pattern>/checkmcsaandroidadminpassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchJoborderFromAdmin</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.SearchJoborderFromAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchJoborderFromAdmin</servlet-name>
        <url-pattern>/searchjoborderfromadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetTransfer</servlet-name>
        <servlet-class>wmdc.mobilecsa.servlet.joborder.SetTransfer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetTransfer</servlet-name>
        <url-pattern>/settransfer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendNotification</servlet-name>
        <servlet-class>wmdc.mobilecsa.firebase.SendNotification</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SendNotification</servlet-name>
        <url-pattern>/sendnotification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDeviceTokens</servlet-name>
        <servlet-class>wmdc.mobilecsa.firebase.GetDeviceTokens</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDeviceTokens</servlet-name>
        <url-pattern>/getdevicetokens</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogNotification</servlet-name>
        <servlet-class>wmdc.mobilecsa.firebase.LogNotification</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogNotification</servlet-name>
        <url-pattern>/lognotification</url-pattern>
    </servlet-mapping>
    -->

</web-app>